

@each $variable-name, $color-value in $color-variables {
  .bg-#{$variable-name} {
    background-color: $color-value !important;
  }

  .border-#{$variable-name} {
    border: 1px solid $color-value;
  }

}

hr{
  border-color: $sq-light;
}