.outline-none, .outline-0{
    outline: none
}

.border-none, .border-0{
    border: none
}

.sq-btn-add{
    height: 36px;
    width: 36px;
    background-color: $sq-lav-light-bright;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -18px auto;
    z-index: 10;
    border-radius: 36px;
    position: relative;
    opacity: 0;
    cursor: pointer;
    box-shadow: $sq-outter-shadow;
    transition: all 0.6s ease;
    i{
        color: #fff;
    }
    &.sq-btn-add--milestone{
        opacity: 0.2;
        min-height: 48px;
        min-width: 48px;
        background-color: $sq-gold-light;
        &:hover{
            opacity: 1;
        }

    }
    &.no-hover{
        transition-delay: 0s !important ;
        transition-duration: 0.3s;
        opacity: 1;
    }
}
.sq-btn-add__holder{
    width: 20px;
    display: flex;
    align-items: center;
    .sq-btn-add--milestone{
        margin-left: -12px;
    }
}

.sq-btn{
    cursor: pointer;
    outline: 0;
    border: 0;
    height: 36px;
    background-color: $sq-lav;
    font-size: 12px;
    color: $sq-white;
    font-weight: 700;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s all ease-in;
    text-decoration: none;
    // .sq-btn--icon{
    //     padding-left: 8px;
    //     padding-right: 8px;
    //     &.sq-btn--icon-lg{

    //     }
    // }
    &:hover{
        font-size: 13px;
        scale: 1.01;   
    }
    &.sq-btn-outline{
        background-color: transparent;
        outline: 1px solid $sq-lav;
    }
}

.sq-link{
    font-size: 12px;
    font-weight: 700;
    color: $sq-lav;
    background-color: transparent;
    outline: none;
    border: none;
    transition: 0.6s all ease-in-out;
    padding-top: 4px;
    padding-bottom: 3px;
    height: auto;
    border-bottom: 2px solid transparent;  
    cursor: pointer;
    &:hover{
      border-color: $sq-lav  
    }
    &.text-color-sq-green{
        &:hover{
            border-color: $sq-green  
          }
    }

    &.text-color-sq-med{
        &:hover{
            border-color: $sq-med  
          }
    }
}

.sq-btn--green{
   @extend .sq-btn;
   background-color: $sq-green;
}

.cursor-pointer{
    cursor: pointer;
}

.sq-btn-icon{
    cursor: pointer;
    outline: none;
    border: none;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    &:not(.no-hover):hover{
        transition: all 0.3s ease-in;
        background-color: $sq-lav-mid-trans;
    }
}
.sq-input-group{
    // .label{
    //     font-size: 10px;
    //     font-weight: 500;
    // }
}
.sq-textarea, .sq-input{
        font-size: 12px;
        border: none;
        color: $sq-med;
        margin: 0;
        padding: 8px;
        resize: none;
        overflow: hidden;
        outline: 1px solid $sq-lighter;
        border-radius: 4px;
        box-shadow: $sq-inner-shadow;
        min-width: 60px;
        &::placeholder{
            color: $sq-med-light;
        }
        // &:focus{
        //     color: $sq-black;
        //     font-weight: 600;
        // }

        &:focus, input:focus{
            outline: none;
            color: $sq-black;
            font-weight: 600;
            
        }
}

.sq-menu{
    .MuiPaper-elevation{
        box-shadow: $sq-outter-shadow;
    }
    .MuiMenu-list{
        padding-top: 0;
        padding-bottom: 0;
    }
    .sq-menu-item{
        @extend .sq-link;
        border-bottom: none;
        padding: 12px 8px;
        &:hover{
            background-color: $sq-lighter;
        }
    }
   
}