.sq-btn-add{
    height: 36px;
    width: 36px;
    background-color: $sq-lav-light-bright;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -18px auto;
    z-index: 10;
    border-radius: 36px;
    position: relative;
    opacity: 0;
    cursor: pointer;
    box-shadow: $sq-outter-shadow;
    transition: all 0.6s ease;
    &:hover{
        opacity: 1;
    }
    i{
        color: #fff;
    }
}

.sq-btn{
    outline: 0;
    border: 0;
    height: 36px;
    background-color: $sq-lav;
    font-size: 10px;
    color: $sq-white;
    font-weight: 700;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
}

.sq-btn--green{
   @extend .sq-btn;
   background-color: $sq-green;
}

.sq-textarea, .sq-input{
        font-size: 12px;
        outline: $sq-light;
        border: none;
        // width: 100%;
        color: $sq-med;
        margin: 0;
        padding: 8px;
        // background-color: transparent;
        resize: none;
        overflow: hidden;
}