h1, .h1{
    color: $sq-black;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: -1px;
}

h2, .h2{
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    &.h2-light{
        color: $sq-lav-muted;
        font-style: normal;
        font-weight: 500;

    }
    // color: $sq-lav-muted;
    // font-size: 18px;
    // font-style: normal;
    // font-weight: 500;
    // line-height: normal;
}
h3, .h3{
    // font-size: 24px;
    font-size: 16px;
    font-weight: 700;
    color: $sq-black;
    color: $sq-med-light;
    &.h3-light{
        color: $sq-lav-muted;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
    }
}
h4, .h4{
   font-size: 12px;
   font-weight: 800;
   color: $sq-black; 
}

p, .p{
    margin-top: 2px;
    // font-size: 11px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 4px;
    &.description{
        font-size: 12px;
        color: $sq-dark
    }
}

a{
    text-decoration: none;
}

.sub{
    margin-top: 4px;
    color: $sq-lav-muted;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2.56px;
    text-transform: uppercase;
}
.label{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: $sq-lav-muted;
}
.title{
    color: $sq-dark;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

small{
    font-size: 8px;
    color: $sq-med-light;
}

@for $i from 1 through 48 {
    .font-size-#{$i} {
        font-size: #{$i}px !important;
      }
}

@each $variable-name, $color-value in $color-variables {
    .text-color-#{$variable-name} {
      color: $color-value !important;
    }
}
  