$sq-green:  #27D39F;
$sq-lav: #5B79FC;
$sq-dark: #4E4E4E;
$sq-med: #777;
$sq-med-light: #999999;
$sq-light: #CCCCCC;
$sq-lighter: #E7E7E7;
$sq-lightest-alt: #f4f4f4;
$sq-lightest: #F9F9F9;
$sq-white: #fff;

$sq-lav-dark: #565C79;
$sq-lav-muted: #ACB1C6;
$sq-lav-light: #EEF1FF;
$sq-lav-light-bright: #BBC7FD;
$sq-lav-mid: #4C68E5;

$sq-green-light: #E5F4F0;
$sq-greeen-mid: #00B47E;

$sq-tomato: #FC5130;
$sq-tomato-light: #FD917C;
$sq-tomato-lightest: #FFF1EE;

$sq-gold: #FFBC42;
$sq-gold-mid: #F4A414;
$sq-gold-light: #F5C773;
$sq-gold-lighter: #FAD99C;
$sq-gold-lightest: #FFF9EE;



$sq-outter-shadow: 0px 0px 6px 0px rgba(91, 121, 252, 0.12);
$sq-inner-shadow: 0px 0px 12px 0px rgba(86, 92, 121, 0.18) inset;
$sq-big-outter-shadow:  -12px 0px 12px 0px rgba(86, 92, 121, 0.12);