.sq-milestone{

    .image{
        background-position: center;
       background-size: cover;
        &.image--med{
            min-height: 160px;
        }
        &.image--small{
            min-height: 120px;
        }
    }
    .sq-deliverable{
        &.sq-deliverable--complete{
            p.description{
                color: $sq-med-light;
                text-decoration: line-through;
            }
        }
        &.sq-deliverable--cancelled{
            opacity: 0.6;
            p.description{
                color: $sq-med-light;
                text-decoration: line-through;
            }
        }
    }

    

}