
.sq-project-card{
    background-color: $sq-white;
    box-shadow: $sq-floating-shadow;
    font-size: 11px;

    &.dark{
        background-color: $sq-lav-dark;
        color: $sq-lightest;
        .text-head{
            color: $sq-white;
        }
        .sq-textarea, .sq-input{
            background-color: $sq-lighter;
        }
    }

    .text-prop{
        color: $sq-lav-muted
    }
    .text-head{
        color: $sq-dark;
        font-weight: 700;
    }

    .sq-grid{
        display: grid;
        grid-template-columns: 2fr 5fr;
        margin-bottom: 4px;
    }
    .sq-textarea.sq-textarea--terms{
        height: 160px;
        resize: vertical;
        overflow: scroll-y;
        font-size: 9px;
    }
}

.sq-organization-card{
    @extend .sq-project-card;
    background-color: transparent;
    box-shadow: none;
}

.sq-organization-card-small{
    @extend .sq-project-card;
    min-height: 56px;
    border-radius: 16px;
    min-width: 120px;
    background-color: $sq-black;
    display: flex;
    align-items: center;
    padding: 8px;
    color: $sq-lightest;
    .org-logo{
        height: 48px;
        width: 64px;
        overflow: hidden;
        border-radius: 12px;
        margin-right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        padding: 2px;
        img{
            max-height: 100%;
            max-width: 100%;
        }
    }
}