.sq-project-card, .sq-organization-card{
    background-color: $sq-white;
    box-shadow: $sq-floating-shadow;
    font-size: 11px;

    &.sq-project-card--dark, &.sq-organization-card--dark{
        background-color: $sq-lav-dark;
        color: $sq-lightest;
        .text-head{
            color: $sq-white;
        }
        .sq-textarea, .sq-input{
            background-color: $sq-light;
        }
    }

    .text-prop{
        color: $sq-lav-muted
    }
    .text-head{
        color: $sq-dark;
        font-weight: 700;
    }

    .sq-grid{
        display: grid;
        grid-template-columns: 2fr 5fr;
        margin-bottom: 4px;
    }
    .sq-textarea.sq-textarea--terms{
        height: 160px;
        resize: vertical;
        overflow: scroll-y;
        font-size: 9px;
    }
}